<h1> New city </h1>

<%= form_with scope: :city, url: country_cities_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', country_cities_path(params[:country_id]) %>
