<h1> New university </h1>

<%= form_with scope: :university, url: city_universities_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', city_universities_path(params[:city_id]) %>
