<!DOCTYPE html>
<html>
  <head>
    <title>SixApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'home', root_path %></a></li>
          <% if current_user %>
            <% if current_admin %>
              <li><%= link_to 'admin', admin_root_path%></li>
            <% end %>
            <li><%= link_to 'Sing Out', destroy_user_session_path,
              method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sing Up', new_user_registration_path %></li>
            <li><%= link_to 'Sing In', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
