<h1> New kafedra </h1>

<%= form_with scope: :kafedra, url: faculty_kafedras_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', faculty_kafedras_path(params[:faculty_id]) %>
