<h1>new</h1>
<%= form_for @animal do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>

  <%= f.submit %>
<% end %>
