<h1> New Plane </h1>

<p>
  <%= form_with scope: :aircraft, url: city_aircrafts_path, local: true do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.submit %>
  <% end %>
</p>
<br><%= link_to 'Back', city_path(params[:city_id]) %>
