<h1> New group </h1>

<%= form_with scope: :group, url: kafedra_groups_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', kafedra_groups_path(params[:kafedra_id]) %>
