<!DOCTYPE html>
<html>
  <head>
    <title>TwoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>

          <% if current_user %>
            <li><%= link_to current_user.email %></li>

            <% if current_admin %>
              <li><%= link_to 'Admin', admin_root_path %></li>
            <% end %>

            <li><%= link_to 'sign_out', destroy_session_path(current_user), method: :delete %></li>
          <% else %>
            <li><%= link_to 'sign_in', new_user_session_path %></li>
            <li><%= link_to 'sign_up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
