<h1> New faculty </h1>

<%= form_with scope: :faculty, url: university_faculties_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', university_faculties_path(params[:university_id]) %>
