<h1> New country </h1>

<%= form_for @countries do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </p>
	<%= f.submit %>
<% end %>
<br><%= link_to 'Back', countries_path %>
